<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="通讯录信息管路系统.Properties.Settings.Phone_BookConnectionString"
            connectionString="Data Source=LAPTOP-892HVNNK\SQLEXPRESS;Initial Catalog=Phone_Book;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>